/* Custom CSS
 * --------------------------------------- */
body{
	font-family: arial,helvetica;
	color: #333;
	color: rgb(56, 56, 56);
	/* background-color: rgba(228, 224, 215, 0.7) !important; */
	/* background: url(../images/bg4.jpg) repeat-y; */
	background-color: #fff;
	background-blend-mode: color;
	background-size: cover;
}
.logo-wrapper{
	position: absolute;
	top: 66px;
	left: 40px;
	width: 290px;
	height: 60px;
}
.logo-img{
	width: 45px;
	height: 45px;
	background: url(../images/logo.png) 50% 50% no-repeat;
	background-size: contain;
	float: left;
}
.text1, .text2{
	position: absolute;
	color: #fff;
}
.text1{
	font-size: 36px;
	left: 114px;
	font-weight: bold;
	top: 226px;
	letter-spacing: -0.5px;
	text-align: right;
}

.text2{
	font-size: 36px;
	right: 76px;
	top: 250px;
	font-weight: bold;
}
.logo-text{
	
margin-left: 70px;
	
font-size: 50px;
	
color: #fff;
}
.intro{
	height: 100%;
}
#section0{
	/* background: url(../images/1.png) 50% 50% no-repeat;
	background-size: contain; */
	background: rgba(236, 236, 236, 0.3);
}
#section1{
	/* background: url(../images/bg2.jpg) 0/73% no-repeat;
	background-size: 100% 101%; */
}
#section2{
	/* background: url(../images/bg2.jpg) 0/50% no-repeat;
	background-size: 100%; */
}
#section3{
	/* background: url(../images/bg2.jpg) 0/50% no-repeat;
	background-size: 100%; */
}
#fp-nav ul li a span, .fp-slidesNav ul li a span{
	background: #b4b5bf;
}
.intro .tel{
	position: absolute;
	top: 66px;
	right: 40px;
	line-height: 1.2;
	font-size: 1.5em;
	/* font-weight: bold; */
	color: #ffffff;
	font-style: italic;
}
.localize-wrapper{
	position: absolute;
	left: 20px;
	top: 14px;
	z-index: 1;
	display: none;
}
.localize-wrapper > button{
	background: none;
	border: none;
	outline: none;
	font-weight: bold;
	font-size: 1.5em;
	color: #ffffff;
	opacity: 0.8;
}
.localize-wrapper > button.active{
	text-decoration: underline;
	opacity: 1;
}
.wrap{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
}
h1{
	font-size: 6em;
}
p{
	font-size: 2em;
}
.intro p{
	/* width: 50%; */
	/* margin: 0 auto; */
	font-size: 1.5em;
}
.section{
	/* text-align:center; */
}
.main-img{
	position: absolute;
	left: 0px;
	top: 0px;
	height: 60.8%;
	width: 100%;
	background: url(../images/1.png) 50% 50% no-repeat;
	background-size: contain;
	z-index: 0;
	background-color: #3f405a;
	/* border-bottom: 8px solid #f5f2ef; */
}
.slogan{
	text-transform: uppercase;
	font-size: 2.5em;
	text-align: center;
	position: absolute;
	display: block;
	width: 100%;
	top: 52.4%;
	font-weight: bold;
	color: #FFF;
	background: rgba(236, 236, 236, 0.2);
	padding: 14px 0;
}
.logo{
	position: absolute;
	left: 4%;
	top: 14%;
	/* background:url(../images/logo.png) no-repeat; */
	width: 11%;
	height: 23%;
	background-size:contain;
	z-index: 11;
}
.menu-list.second{
}
.menu-list{
	position: absolute;
	top: 149px;
	width: inherit;
	text-align: center;
	margin-top: 3px;
}
/* .menu-list span:before{
	content: "-"; 
	position: absolute;
	left: -9px;
	top: 0px;
} */
.menu-list span:hover{
	text-decoration: underline;
}
.menu-list span{
	position: relative;
	display: block;
	margin-bottom: 4px;
	font-size: 16px;
	line-height: 1;
	color: #119de2;
	cursor: pointer;
}
.works__item:hover, .works__item--active {
  
}
#menu li {
	position: relative;
	width: 220px;
	height: 276px;
	display:inline-block;
	color: #000;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	margin-right: 25px;
	border-radius: 25px;
	-webkit-box-shadow: 0 0 25px rgba(73,120,169,.27);
	-moz-box-shadow: 0 0 25px rgba(73,120,169,.27);
	box-shadow: 0 0 25px rgba(73,120,169,.27);
}
#menu li:first-of-type {
	background: url(../images/icon2.png) 50% no-repeat, #fff;
	background-position-y: top;
	background-size: 180px 160px;
}
#menu li:first-of-type a{}
#menu li:nth-of-type(2) a{
	
left: 4px;
	
font-size: 22px;
}
#menu li:first-of-type a,
#menu li:nth-of-type(2) a{/* top: 122px; */}
#menu li:nth-of-type(3) a{line-height: 1.1;}
#menu li:nth-of-type(2) {
	background: url(../images/icon1.png) 50% no-repeat, #fff;
	background-position-y: top;
	background-size: 180px 160px;
}
#menu li:nth-of-type(3) {
	background: url(../images/icon3.png) 50% no-repeat, #fff;
	margin-right: 0;
	background-position-y: top;
	background-size: 180px 160px;
}
#menu li.active{
	background:#666;
	background: rgba(0,0,0, 0.5);
	color: #fff;
}
#menu li a{
	text-decoration:none;
	color: #181819;
	font-size: 22px;
	font-weight: bold;
}
#menu li.active a:hover{
	color: #000;
}
#menu li a,
#menu li.active a{
	top: 122px;
	width: inherit;
	display:block;
	position: absolute;
	text-align: center;
}
#menu li.active a{
	color: #fff;
}
#menu{
	opacity: 0;
}
.fp-viewing-firstPage #menu{
	transition: opacity 1.5s ease-out 0.5s;
	opacity: 1;
	height: 280px;
	z-index: 70;
	padding: 0;
	width: 100%;
	position: absolute;
	top: 62.5%;
	display: flex;
	justify-content: center;
}
/* Tab gtoup */

.ui-tabs.ui-tabs-vertical {
    width: 100%;
    display: flex;
    height: 81%;
    justify-content: space-evenly;
}
.ui-tabs.ui-tabs-vertical .ui-widget-header {
    border: none;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav {
    background: #1ab8d8;
    height: fit-content;
    width: 22%;
    background: rgba(255, 255, 255, 0.56);
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li {
    width: 100%;
    /* background: #1ab8d8; */
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li a {
    display: block;
    padding: 1.0em 1em;
    text-decoration: none;
    color: #545454;
    /* text-transform: uppercase; */
    font-weight: bold;
    outline: none;
    text-align: left;
    position:relative;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active a {
    color: #1ab8d8;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li a:before{
	position:absolute;
	content:"";
	display:block;
	height:100%;
	background: #afafaf;
	width: 7px;
	left:0;
	top:0;
}

.ui-tabs.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active a:before{

	background: #1ab8d8;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li a:hover {
    cursor: pointer;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-nav li:not(:last-child) {
    border-bottom: 1px #afafaf solid;
}
.ui-tabs.ui-tabs-vertical .ui-tabs-panel {

}
.ui-tabs.ui-tabs-vertical .ui-tabs-panel .product-img{
	height: 342px;
	width: 40%;
	margin: 0 auto;
	display: block;
}
.ui-tabs #tab-content-wrap{
	width: 63%;
}
/* Slider */

.slider-wrapper{
	position: absolute;
	left: 100px;
	top: 100px;
	width: 300px;
}